body {
    background-color: wheat;
    background-size: cover;
    font-family: sans-serif;
    font-size: 1.5rem;

    header * {
        display: flex;
        flex-direction: row;
        text-shadow: 0 3px 3px #1c2321;
        font-size: 2rem;
        font-weight: bold;
    }

    header {
        background-color: #EEF1EF;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        box-shadow: 0 0 25px 0 black;
        height: -moz-fit-content;
        height: fit-content;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        border: none;
        border-radius: 2rem;

        #logo {
            border: none;
            border-radius: 1rem;

            .logo {
                height: 8rem;
                border-radius: 3rem;
                padding: .2rem;

            }
        }

        .navlinks {
            flex-direction: row-reverse;


            li {
                margin: 1.5;
                width: fit-content;
                height: fit-content;

                a {
                    margin: 1rem;
                    padding: .5rem;
                    color: black;
                    text-decoration: none;
                    border-radius: 1rem;
                    width: fit-content;
                    height: fit-content;

                }

                a:hover {
                    background-color: #000000;
                    cursor: pointer;
                    color: white;
                }
            }


        }

        .navbar {
            width: fit-content;
            height: fit-content;
            margin: 2rem;

            #searchbar {
                font-size: 2rem;
                width: 20rem;
                height: fit-content;
                border: none;
                border-radius: 1rem;
                padding: .2rem;

            }


            #btnSearch {
                font-size: 1.5rem;
                border: none;
                padding: .3rem;
                border-radius: 1rem;
                height: fit-content;
            }

            #btnSearch:hover {
                background-color: #000000;
                cursor: pointer;
                color: white;
            }
        }


    }

    .panier {
        width: 20rem;
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
        text-shadow: 0 3px 3px #1c2321;
        font-size: 2rem;
        font-weight: bold;
        border-radius: 2rem;
        background-color: #413b3b9c;
        position: fixed;
        right: 0;


        button {
            width: 1.5rem;
            border: none;
            background: none;
            border-radius: 2rem;
            margin: .25rem;
        }

        button:hover {
            cursor: pointer;
        }

        #panier {
            color: #000000;
            text-decoration: none;
            padding: .25rem;
            margin: 0;
            width: fit-content;
        }

        p {
            padding: .25rem;
            margin: 0;
            width: fit-content;
        }

        .listDesArticlePanier {
            .articlePanier {
                display: flex;
                flex-direction: row;
                width: fit-content;
                align-items: center;
            }
        }

        .quantiteActions {
            background: none;
            display: flex;
            align-items: center;
        }
    }

    #card:hover {
        transform: translateY(-10px);
    }

    #card {
        width: 16rem;
        height: 40rem;
        padding: 1rem;
        border-radius: 2rem;
        display: flex;
        border: none;
        flex-direction: column;
        align-items: center;
        background-color: #ffffff;
        box-shadow: 15px 10px 7px black;
        margin: 1.5rem;
        transition: transform 0.5s ease;
        justify-content: space-between;

        .description {
            text-shadow: 0 1px 2px #1c2321;
            margin: .5rem;
            display: inline-block;
            width: 14rem;
            height: 2em;
            line-height: 1em;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow-wrap: break-word;
        }

        .photoArticle {
            padding: 1rem;
            width: 10rem;
            height: 16rem;
        }

        .marque {
            font-size: 1.5rem;
            border-radius: 1rem;
            padding: .4rem;
            margin: .2rem;
            text-shadow: 0 3px 3px #1c2321;
        }

        .nomArticle {
            margin: .8rem;
            text-shadow: 0 3px 3px #1c2321;
        }

        .prixArticle {
            text-shadow: 0 1px 2px #1c2321;
            margin: .2rem;
        }



        .panierEtPlus {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
        }

        .enSavoirPlus {
            margin: 0 .5rem 0 .5rem;
            text-decoration: none;
            color: black;
            align-self: flex-end;
            border-radius: 1rem;
            padding: .4rem;
            text-shadow: 0 1px 2px #1c2321;

        }

        .enSavoirPlus:hover {
            text-decoration: underline;
        }

        .ajouterPanier {
            background: none;
            border-radius: 1rem;
            padding: .5rem;
            text-shadow: 0 1px 2px #1c2321;
            box-shadow: 10px 5px 5px black;

        }

        .ajouterPanier:hover {
            background-color: #000000;
            cursor: pointer;
            color: white;
        }
    }

    #article {
        justify-content: space-around;
        display: flex;
        flex-wrap: wrap;
        width: fit-content;


        img {
            padding: 1rem;
            width: 15rem;
            border: #EEF1EF;
        }

    }

    #telephones {
        justify-content: space-around;
        display: flex;
        flex-wrap: wrap;
        width: -moz-fit-content;
        width: fit-content;

        img {
            padding: 1rem;
            width: 15rem;
            border: #EEF1EF;
        }
    }

    #objetsconnectes {
        justify-content: space-around;
        display: flex;
        flex-wrap: wrap;
        width: -moz-fit-content;
        width: fit-content;

        img {
            padding: 1rem;
            width: 15rem;
            border: #EEF1EF;
        }
    }

    #tablettes {
        justify-content: space-around;
        display: flex;
        flex-wrap: wrap;
        width: -moz-fit-content;
        width: fit-content;

        img {
            padding: 1rem;
            width: 15rem;
            border: #EEF1EF;
        }
    }

    footer * {
        display: inline;
    }

    footer {
        background-color: #EEF1EF;
        height: fit-content;
        box-shadow: 0 0 1.2rem 0 black;



        nav {
            ul {
                display: flex;
                justify-content: center;


                img {
                    height: 7rem;
                }



                li {
                    margin: 1.5rem;
                    height: fit-content;



                    a {
                        width: 2rem;
                        color: black;
                        text-decoration: none;

                    }
                }
            }
        }
    }
}